[Unit]
Description=spring cloud zuul server

[Service]
ExecStart=/usr/bin/java -Xms16m -Xmx48m -XX:MaxMetaspaceSize=64m -XX:CompressedClassSpaceSize=8m -Xss256k -Xmn8m -XX:InitialCodeCacheSize=4m -XX:ReservedCodeCacheSize=8m -XX:MaxDirectMemorySize=16m -jar zuul.jar
Restart=always
User=dustin
Group=dustin
Environment=PATH=/usr/bin:/usr/local/bin
Environment=APP_LOG_PATH=/a0/cloud/logs
WorkingDirectory=/a0/cloud

[Install]
WantedBy=multi-user.target