[Unit]
Description=spring cloud zuul server

[Service]
ExecStart=/usr/bin/java -jar zuul.jar
Restart=always
User=dustin
Group=dustin
Environment=PATH=/usr/bin:/usr/local/bin
Environment=APP_LOG_PATH=/a0/cloud/logs
WorkingDirectory=/a0/cloud

[Install]
WantedBy=multi-user.target